* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 350px;
  background-color: #f0f0f0;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 11px 11px #3f4b8a;
  margin: 20px;
  border: 8px solid #6c80dd;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 2px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  box-shadow: 3px 3px gray;
}

.card-background {
  display: absolute;
  background-color: #333;
  
}