.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 350px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  margin: 20px;
  border: 7px solid #f5de4c
}