@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playpen+Sans:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #85bb65; 
  color: black;            
  font-family: "Playpen Sans";
  line-height: 1.6;
}

.x-button {
  padding: 0 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  color: black;
}

.x-button:hover {
  color: white;
}

h1, h2 {
  display: flex;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#main, #the-caption, #dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  color: green;
  font-size: 40px;
}

.budget {
  position: relative;
  padding-top: 20px;
  justify-content: center;
  font-size: 35px;
}

.caption {
  margin-top: 5px;
  font-size: 20px;
}

.dropdown-btn {
  background-color: #e54545;
  font-family: "Playpen Sans";
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  padding: 20px 50px;
  font-size: 16px;
  border: 3px solid white;
  cursor: pointer;
  margin-top: 50px;
  max-width: 279px;
}

.dropdown-btn:hover, .dropdown-btn:focus {
  background-color: #e92b2b;
}

.choose-your-country-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 275px;
  z-index: 1;
  font-weight: bold;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}