* {
  box-sizing: border-box;
  font-family: "Playpen Sans";
}

.column {
  float: left;
  padding: 10px;
  margin-top: 10px;
}

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  width: 360px;
  height: 345px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  background-color: white;
}

p {
  margin-bottom: 5px;
}

.sell-button {
  padding: 8px 20px;
  margin: 10px 0 10px 5px;
  background-color: lightgray;
  border: 2px solid black;
  font-weight: bold;
}

.sell-button:hover {
  background-color: gray;
}

.buy-button {
  padding: 8px 20px;
  margin: 10px 5px 10px 0;
  color: white;
  background-color: green;
  border: 2px solid black;
  font-weight: bold;
}

.buy-button:hover {
  background-color: rgb(1, 100, 1);
}

.input-quantity {
  padding: 8px 0;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
}

.product-name {
  font-size: 20px;
}

.price-amount {
  font-size: 18px;
}

.checkout {
  justify-content: center;
  align-items: center;
}

.checkout-btn {
  display: flex;
  margin: 0 auto;
  max-width: 200px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border: 4px solid white;
  background-color: #e54545;
  text-decoration: none;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}

.checkout-btn:hover {
  background-color: #e92b2b; 
}

.play-again-btn {
  display: flex;
  margin: 0 auto;
  max-width: 200px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border: 4px solid white;
  background-color: #4a3bef;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.play-again-btn:hover {
  background-color: #584bec; 
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  color: green;
  font-size: 40px;
  text-align: center;
}

.receipt-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  color: black;
  font-size: 40px;
}

