.receipt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.full-receipt {
  background: white;
  border: 5px solid #6c80dd;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-size: 20px;
  margin-bottom: 20px;
}